.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* New CSS Start*/
.app {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  height: 100vh;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-color: #f8f9fd;
}

/* input[type="text"],
input[type="password"] {
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.2);
} */

.pm-form-label {
  font-weight: 600;
  display: block;
  font-size: 18px;
  color: #282828;
  margin-bottom: 8px;
  text-align: justify;
}

.pm-form-control {
  font-size: 14px;
  height: 40px;
  color: #282828;
  border-radius: 3px;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #d4d4d4;
  padding: 8px;
  display: block;
  width: 100%;
  line-height: 1.42857143;
  background-color: #fafafa;
  background-image: none;
}

.pm-form-search{
  font-size: 16px;
  height: 40px;
  margin: 10px;
  color: #282828;
  border-radius: 0px;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
  border: 1px solid #d4d4d4;
  padding: 8px;
  /* display: block; */
  width: 50%;
  line-height: 1.42857143;
  background-color: #fafafa;
  background-image: none;
}

.pm-form-control:hover {
  border: 1px solid #a9a9a9;
}

.pm-form-control:focus:hover {
  outline: 0;
  border-color: #f26b3a;
  box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -webkit-box-shadow: none;
}

input[type="submit"] {
  margin-top: 10px;
  cursor: pointer;
  font-size: 15px;
  /* background: #01d28e; */
  border: 1px solid #01d28e;
  color: #fff;
  padding: 10px 20px;
}

input[type="submit"]:hover {
  background: #6cf0c2;
}

.button-container {
  display: flex;
  justify-content: center;
}

.login-form {
  background-color: white;
  padding: 2rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.list-container {
  display: flex;
}

.error {
  color: red;
  font-size: 12px;
}

.title {
  font-size: 25px;
  margin-bottom: 20px;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 10px;
}

.navbar-expand .navbar-nav .dropdown-menu {
  position: absolute;
  left: -135px;
  top: 45px;
}

button:not(:disabled) {
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 4px;
  height: 40px;
  width: 40%;
}

/* .pm-btn-primary {
  color: black;
  background-color: green;
  height: 40px;
  width: 100%;
} */

.button1:not(:disabled) {
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 4px;
  height: 40px;
  width: 40%;
}
.button11:not(:disabled) {
  cursor: pointer;
  background-color: green;
  color: white;
  border-radius: 3px;
  padding: 4px;
  height: 40px;
  width: 100%;
}

.pm-card {
  margin: auto;
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%);
  border-radius: 3px;
  background-color: #fff;
  width: 392px;
  padding: 16px 32px;
}

.pm-card-form {
  margin: auto;
  box-shadow: 0 3px 15px 0 rgb(0 0 0 / 20%);
  border: 1px solid;
  border-radius: 0px;
  background-color: #fff;
  width: 392px;
  padding: 16px 32px;
}
/* * {
  box-sizing: inherit;
} */



/* New CSS End */
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
